APPLICATION_PORT = '80'
AWS_REGION = 'aws region'
AWS_ACCESS_KEY_ID = 'your access key id'
AWS_SECRET_ACCESS_KEY = 'your secrect access key'
COGNITO_USER_POOL_ID = 'cognito_pool_id'
COGNITO_CLIENT_ID = 'cognito_client_id'